@using Radzen.Blazor
@using Radzen
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar" style="border-radius: 40px; background-color:white;">
        <NavMenu />
    </div>

    <main>
            <RadzenStack Orientation="Orientation.Horizontal" Style="height:auto;padding:16px;margin-left:40px;margin-right:40px;margin-top:10px">
                <RadzenBadge Style="width:100%" Text="Тут будет адрес конкретного салона красоты, контактные данные либо объявления или приветствие" class="badge-title" />
                <RadzenBadge Text="ЛК" Style="border-radius: 100%;font-size:20px;" class="badge-title" />
            </RadzenStack>

        <article class="content px-4" style="margin:0px;padding:0px">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
