

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div style="background-color:white; height: 100vh;padding:16px; width:max-content">
    <div style="background-color:#1E1E1E;height:100%;border-radius:45px;padding:30px ">
        <nav class="flex-column d-flex align-items-center pt-4 gap-4">
            <NavLink class="nav-button" href="" Match="NavLinkMatch.All" ActiveClass="active-nav-button">
                Прием клиентов
            </NavLink>

            <NavLink class="nav-button" href="record-client" ActiveClass="active-nav-button">
                Запись клиентов
            </NavLink>

            <NavLink class="nav-button" href="journal" ActiveClass="active-nav-button">
                Журнал
            </NavLink>

            <NavLink class="nav-button" href="weather" ActiveClass="active-nav-button">
                Поддержка
            </NavLink>
        </nav>

    </div>
</div>

<style>
    .nav-button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FBF9F9;
        width:100%;
        color: black;
        font-size: 16px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-weight: 500;
        border-radius: 40px;
        text-decoration: none;
        transition: background-color 0.3s, color 0.3s;
    }

        .nav-button.active-nav-button {
            background-color: #A678F1;
            color: white;
        }

    .nav-scrollable {
        overflow-y: auto;
    }
</style>
